@import "tailwindcss";

@theme {
  --color-main-yellow: #ffbf00;
  --color-main-black: #000000;
}

:root{
 --transition-duration: 0.3s;
 --transition-timing-function: ease-in-out;
}

.border-box{
  border: 3px solid var(--color-main-black);
  border-radius: none ! important;
}

.box-shadow-effect{
  box-shadow: 6px 6px 0px 0px rgb(255, 255, 255);
}

.animation-transition{
  transition: all var(--transition-duration) var(--transition-timing-function);
}